<div class="navigator">
    <a class="previous">&lt;</a>
    <a class="next">&gt;</a>
</div>
<div class="slide">
    <h1 class="main center">Backbone.js</h1>
    <h2 class="center">Minimalistic library for single page apps</h2>
</div>

<div class="slide">
    <h1>Backbone.js</h1>
    <ul>
        <li>Enables structure your web applications</li>
        <li>Best situated for REST based apps</li>
        <li>Doesn't try to solve everything</li>
        <li>Tiny with minimal dependencies (10.3kB including underscore)</li>
    </ul>
</div>

<div class="slide">
    <h1>Dependencies</h1>
    <ul>
        <li>Mandatory: underscore or Lo-Dash</li>
        <li>"Optional": jQuery or Zepto</li>
    </ul>
</div>

<div class="slide">
    <h1>Size</h1>
    <table>
        <tr>
            <td>Backbone.js</td>
            <td>6.3 kB</td>
        </tr>
        <tr>
            <td>Underscore.js</td>
            <td>4 kB</td>
        </tr>
        <tr>
            <td>Zepto</td>
            <td>8.4 kB</td>
        </tr>
    </table>
</div>

<div class="slide">
    <h1>The main parts</h1>
    <ul>
        <li>Events</li>
        <li>Model</li>
        <li>Collection</li>
        <li>Router</li>
        <li>History</li>
    </ul>
</div>

<div class="slide eventExample">
    <div class="title-inline">
        <h1>Events</h1>
        <h3>Publish/Subscribe design pattern</h3>
    </div>
    <pre data-code="#eventExample" class="pull-left">
    </pre>
    <div class="actions">
        <a class="publisher btn">Publish</a>
        <a class="subscriber1 btn">Subscriber1</a>
        <a class="subscriber2 btn">Subscriber2</a>
        <a class="clear-event-example btn btn-reset">Clear</a>
    </div>
</div>

<script type="text/javascript" id="eventExample">
example('.eventExample', function($) {
    //--start
    var broker = {};
    _.extend(broker, Backbone.Events);
    $('.publisher').click(function(){
        var eventName = 'event1';
        var eventParam1 = { content: 'anything' };
        var eventParam2 = 10;
        broker.trigger('event1', eventParam1, eventParam2);
    });
    broker.on('event1', function(msg) {
        $('.subscriber1').html(msg.content);
    });
    broker.on('event1', function(msg, id) {
        $('.subscriber2').html(id);
    });
    //--end
    $('.clear-event-example').click(function(){
        $('.subscriber1').html('Subscriber1');
        $('.subscriber2').html('Subscriber2');
    });
});
</script>

<div class="slide">
    <a class="btn" data-action="get">Get</a>
    <a class="btn" data-action="post">Post</a>
    <a class="btn" data-action="put">Put</a>
    aaa
</div>