<div class="navigator">
    <a class="previous"><i class="icon-arrow-left"></i></a>
    <a class="next"><i class="icon-arrow-right"></i></a>
</div>
<div class="slide">
    <h1 class="main center">Backbone.js</h1>
    <h2 class="center">Minimalistic library for single page apps</h2>
</div>

<div class="slide">
    <h1>Backbone.js</h1>
    <ul>
        <li>Enables structure your web applications</li>
        <li>Best situated for REST based apps</li>
        <li>Doesn't try to solve everything</li>
        <li>Tiny with minimal dependencies (10.3kB including underscore)</li>
    </ul>
</div>

<div class="slide">
    <h1>Dependencies</h1>
    <ul>
        <li>Mandatory: underscore or Lo-Dash</li>
        <li>"Optional": jQuery or Zepto</li>
    </ul>
</div>

<div class="slide">
    <h1>Size</h1>
    <table>
        <tr>
            <td>Backbone.js</td>
            <td>6.3 kB</td>
        </tr>
        <tr>
            <td>Underscore.js</td>
            <td>4 kB</td>
        </tr>
        <tr>
            <td>Zepto</td>
            <td>8.4 kB</td>
        </tr>
    </table>
</div>

<div class="slide">
    <h1>The main parts</h1>
    <ul>
        <li>Events</li>
        <li>Model</li>
        <li>Collection</li>
        <li>Router</li>
        <li>History</li>
    </ul>
</div>

<div class="slide">
    <h1 class="main center">Events</h1>
    <!--<h2 class="center">Minimalistic library for single page apps</h2>-->
</div>

<div class="slide">
    <div class="title-inline">
        <h1>Events</h1>
        <h3>overview</h3>
    </div>
    <ul>
        <li>Publish/Subscribe design pattern</li>
        <li>Enables connect different parts of the page together</li>
        <li>The parts need to know only about the event object (broker)</li>
        <li>You can bind multiple events at once "event1 event2"</li>
    </ul>
</div>

<div class="slide">
    <div class="title-inline">
        <h1>Events</h1>
        <h3>Methods</h3>
    </div>
    <ul>
        <li>On(event, callback, [context]) - subscribe to an event</li>
        <li>Off([event], [callback], [context]) - unsubscribe from an event</li>
        <li>trigger(event, [param1], [param2], ...) - triggers the an event</li>
    </ul>
</div>

<div class="slide">
    <div class="title-inline">
        <h1>Events</h1>
        <h3>Methods</h3>
    </div>
    <ul>
        <li>Once(event, callback, [context]) - subscribe to only the first event</li>
        <li>listenTo(other, event, callback) - object listening to an event</li>
        <li>stopListening([other], [event], [callback]) - object stops listening to an event</li>
    </ul>
</div>

<div class="slide slide-compact eventExample1">
    <div class="title-inline">
        <h1>Events</h1>
        <h3>example1</h3>
    </div>
    <pre data-code="events.example1" class="pull-left">
    </pre>
    <div class="actions">
        <a class="publisher1 btn">Publisher1 (event1)</a>
        <a class="publisher2 btn">Publisher2 (event2)</a>
        <a class="subscriber1 btn">Subscriber1 (event1)</a>
        <a class="subscriber2 btn">Subscriber2 (event1, event2)</a>
    </div>
</div>

<script type="text/javascript">
    example('.eventExample1', function($) {
        //--start events.example1
        var broker = {};
        _.extend(broker, Backbone.Events);

        $('.publisher1').click(function(){
            broker.trigger('event1', "event1-param1", { id: 10 });
        });

        $('.publisher2').click(function(){
            broker.trigger('event2', "event2-param1");
        });

        broker.on('event1', function(id) {
            $('.subscriber1').html(id);
        });

        broker.on('event1 event2', function(msg, id) {
            $('.subscriber2').html(msg);
        });
        //--end
    });
</script>

<div class="slide slide-compact eventExample2">
    <div class="title-inline">
        <h1>Events</h1>
        <h3>example2</h3>
    </div>
    <div class="pull-left">
        <p>Global configuration:</p>
        <pre data-code="events.example2.part1"></pre>
        <p>Toolbar part:</p>
        <pre data-code="events.example2.part2"></pre>
        <p>Table part:</p>
        <pre data-code="events.example2.part3"></pre>
    </div>

    <div class="actions">
        <div class="navbar">
            <div class="navbar-inner">
                <span class="selected-count"></span> <a class="btn btn-delete disabled" href="">Delete</a>
            </div>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Project1</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Project2</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Project3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    example('.eventExample2', function($) {
        //--start events.example2.part1
        var globalEvents = {};
        _.extend(globalEvents, Backbone.Events);
        //--end

        //--start events.example2.part2
        globalEvents.on('selection:changed', function(count){
            $('.btn-delete').toggleClass('disabled', count == 0);
            $('.selected-count').html(count == 0 ? '' : count);
        });
        //--end

        $('input').change(function(){
            var selectedCount = $(':checked').length;
            //--start events.example2.part3
            globalEvents.trigger('selection:changed', selectedCount);
            //--end
        });
    });
</script>

<div class="slide">
    <h1 class="main center">REST</h1>
    <h2 class="center">Recapitulation</h2>
</div>

<div class="slide">
    <div class="title-inline">
        <h1>REST</h1>
    </div>
    <ul>
        <li>Representational state transfer</li>
        <li>Old good HTTP 1.1</li>
        <li>Verbs: GET, POST, PUT, DELETE</li>
    </ul>
</div>

<div class="slide rest-example">
    <div class="pull-left">
        <textarea class="rest-text" cols="80" rows="30"></textarea>
    </div>
    <div class="actions">
        <a class="btn get">Get</a>
        <a class="btn post">Post</a>
        <a class="btn put">Put</a>
    </div>
</div>

<script type="text/javascript">
example('.rest-example', function($){
    var $textarea = $('textarea');
    $('.get').on('click', function(){
        jQuery.ajax({url: '/project/1'})
            .done(function(data){
                $textarea.val(JSON.stringify(data));
            });
    });
    $('.put').on('click', function(){
        jQuery.ajax({url: '/project/1', data: $textarea.val()})
            .done(function(data){
            });
    });
});
</script>