<div class="navigator">
    <a class="previous"><i class="icon-arrow-left"></i></a>
    <a class="next"><i class="icon-arrow-right"></i></a>
</div>
<div class="slide">
    <h1 class="main center">Backbone.js</h1>
    <h2 class="center">Minimalistic library for single page apps</h2>
    <h2 class="center">PREVIEW - work in progress :)</h2>
</div>

<div class="slide">
    <h1>Backbone.js</h1>
    <ul>
        <li>Enables structure your web applications</li>
        <li>Best situated for REST based apps</li>
        <li>Doesn't try to solve everything</li>
        <li>Tiny with minimal dependencies (10.3kB including underscore)</li>
    </ul>
</div>

<div class="slide">
    <h1>Dependencies</h1>
    <ul>
        <li>Mandatory: underscore or Lo-Dash</li>
        <li>"Optional": jQuery or Zepto</li>
    </ul>
</div>

<div class="slide">
    <h1>Size</h1>
    <table>
        <tr>
            <td>Backbone.js</td>
            <td>6.3 kB</td>
        </tr>
        <tr>
            <td>Underscore.js</td>
            <td>4 kB</td>
        </tr>
        <tr>
            <td>Zepto</td>
            <td>8.4 kB</td>
        </tr>
    </table>
</div>

<div class="slide">
    <h1>The main parts</h1>
    <ul>
        <li>Events</li>
        <li>Model</li>
        <li>Collection</li>
        <li>Router</li>
        <li>History</li>
    </ul>
</div>

<div class="slide">
    <h1 class="main center">Events</h1>
</div>

<div class="slide">
    <div class="title-inline">
        <h1>Events</h1>
        <h3>overview</h3>
    </div>
    <ul>
        <li>Publish/Subscribe design pattern</li>
        <li>Enables connect different parts of the page together</li>
        <li>The parts need to know only about the event object (broker)</li>
        <li>You can bind multiple events at once "event1 event2"</li>
    </ul>
</div>

<div class="slide">
    <div class="title-inline">
        <h1>Events</h1>
        <h3>methods</h3>
    </div>
    <ul>
        <li>On(event, callback, [context]) - subscribe to an event</li>
        <li>Off([event], [callback], [context]) - unsubscribe from an event</li>
        <li>trigger(event, [param1], [param2], ...) - triggers the an event</li>
    </ul>
</div>

<div class="slide slide-compact eventExample1">
    <div class="title-inline">
        <h1>Events</h1>
        <h3>example 1</h3>
    </div>
    <div class="left-side">
        <table class="action table">
            <tr><td><a href="#" class="publisher1">Publisher1 (event1)</a></td></tr>
            <tr><td><a href="#" class="publisher2">Publisher2 (event2)</a></td></tr>
        </table>
        <textarea rows="15" class="log"></textarea>
    </div>
    <pre data-code="events.example1" class="left-side">
    </pre>
</div>

<script type="text/javascript">
    example('.eventExample1', function($) {
        var $log = $('.log');
        function log(text) {
            $log.val($log.val() + text + '\n');
        }
        //--start events.example1
        var broker = {};
        _.extend(broker, Backbone.Events);

        $('.publisher1').click(function(){
            broker.trigger('event1',
                    "event1-param1", 10);
        });
        $('.publisher2').click(function(){
            broker.trigger('event2', "event2-param1");
        });
        broker.on('event1', function(p1, p2) {
            log('subscriber1:');
            log('   p1: ' + p1 + ', p2: ' + p2);
        });
        broker.on('event1 event2', function(p1, p2) {
            log('subscriber2:');
            log('   p1: ' + p1 + ', p2: ' + p2);
        });
        //--end
    });
</script>

<div class="slide slide-compact eventExample2">
    <div class="title-inline">
        <h1>Events</h1>
        <h3>example2</h3>
    </div>
    <div class="actions">
        <div class="navbar">
            <div class="navbar-inner">
                <span class="selected-count"></span> <a class="btn btn-delete disabled" href="">Delete</a>
            </div>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>Project1</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Project2</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Project3</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="left-side">
        <p>Global configuration:</p>
        <pre data-code="events.example2.part1"></pre>
        <p>Toolbar part:</p>
        <pre data-code="events.example2.part2"></pre>
        <p>Table part:</p>
        <pre data-code="events.example2.part3"></pre>
    </div>
</div>

<script type="text/javascript">
    example('.eventExample2', function($) {
        //--start events.example2.part1
        var globalEvents = {};
        _.extend(globalEvents, Backbone.Events);
        //--end

        //--start events.example2.part2
        globalEvents.on('selection:changed', function(count){
            $('.btn-delete').toggleClass('disabled', count == 0);
            $('.selected-count').html(count == 0 ? '' : count);
        });
        //--end

        $('input').change(function(){
            var selectedCount = $(':checked').length;
            //--start events.example2.part3
            globalEvents.trigger('selection:changed', selectedCount);
            //--end
        });
    });
</script>

<div class="slide">
    <h1 class="main center">REST</h1>
    <h2 class="center">Recapitulation</h2>
</div>

<div class="slide">
    <div class="title-inline">
        <h1>REST</h1>
    </div>
    <ul>
        <li>Representational state transfer</li>
        <li>Old good HTTP 1.1 and its verbs</li>
        <li>User HTTP verbs to distinguish what to do</li>
    </ul>
</div>

<div class="slide">
    <div class="title-inline">
        <h1>REST</h1>
        <h3>Verbs</h3>
    </div>
    <div>
        <table class="table table-info">
            <tr><th>Verb</th><th>Url</th><th>Description</th></tr>
            <tr><td>GET</td><td>/resource</td><td>returns list of all resources</td></tr>
            <tr><td>GET</td><td>/resource/id</td><td>returns the particular resource</td></tr>
            <tr><td>POST</td><td>/resource</td><td>adds a new resource</td></tr>
            <tr><td>PUT</td><td>/resources/id</td><td>updates an existing resource</td></tr>
            <tr><td>DELETE</td><td>/resource/id</td><td>deletes an existing resource</td></tr>
        </table>
    </div>
</div>

<div class="slide rest-example">
    <div class="title-inline">
        <h1>REST</h1>
        <h3>example</h3>
    </div>
    <div>
        <table class="action table left-side">
            <tr><td><a href="#" class="get">GET /projects</a></td></tr>
            <tr><td><a href="#" class="get1">GET /projects/1</a></td></tr>
            <tr><td><a href="#" class="put1">PUT /projects/1</a></td></tr>
            <tr><td><a href="#" class="post">POST /projects</a></td></tr>
            <tr><td><a href="#" class="clear">Clear</a></td></tr>
        </table>
        <div class="left-side">
            <textarea class="rest-text" cols="80" rows="13" data-placeholder="examples"></textarea>
        </div>
    </div>
</div>

<script type="text/javascript">
example('.rest-example', function($){
    var $textarea = $('textarea');
    $('.get').on('click', function(){
        var opt = {
            url: '/projects',
            type: 'get'
        };
        jQuery.ajax(opt)
                .done(function(data){
                    $textarea.val(JSON.stringify(data));
                });
    });
    $('.get1').on('click', function(){
        var opt = {
            url: '/projects/1',
            type: 'get'
        };
        jQuery.ajax(opt)
            .done(function(data){
                $textarea.val(JSON.stringify(data));
            });
    });
    $('.put1').on('click', function(){
        var opt = {
            url: '/projects/1',
            type: 'put',
            contentType: 'application/json',
            data: $textarea.val()
        };
        jQuery.ajax(opt);
    });
    $('.post').on('click', function(){
        var opt = {
            url: '/projects',
            type: 'post',
            contentType: 'application/json',
            data: $textarea.val()
        };
        jQuery.ajax(opt).done(function(data){
            $textarea.val(JSON.stringify(data));
        });
    });
    $('.clear').on('click', function(){
        $textarea.val('');
    });
});
</script>

<div class="slide">
    <h1>Model & Collection</h1>
    <ul>
        <li>Representation of entities and entity lists on the client</li>
        <li>Load and save your entities from/to the server
            <ul>
                <li>Use Backbone.sync method</li>
                <li>Can be replaced by anything you want</li>
            </ul>
        </li>
        <li>Extend from Backbone.Event to support notifications</li>
    </ul>
</div>

<div class="slide">
    <div class="title-inline">
        <h1>REST</h1>
        <h3>in Backbone.js</h3>
    </div>
    <div>
        <table class="table table-info">
            <tr><th>Verb</th><th>Url</th><th>Backbone way</th></tr>
            <tr><td>GET</td><td>/resource</td><td>collection.fetch()</td></tr>
            <tr><td>GET</td><td>/resource/id</td><td>model.fetch()</td></tr>
            <tr><td>POST</td><td>/resource</td><td>model.save()</td></tr>
            <tr><td>PUT</td><td>/resources/id</td><td>model.save(), collection.create()</td></tr>
            <tr><td>DELETE</td><td>/resource/id</td><td>model.destroy()</td></tr>
        </table>
    </div>
</div>

<div class="slide">
    <h1 class="main center">Model</h1>
</div>

<div class="slide slide-compact">
    <h1>Model</h1>
    <ul>
        <li>Has attributes object for storing attribute values</li>
        <li>That enables notifying about attribute changes</li>
        <li>Easy to find which attributes has been changed during the last change</li>
        <li>For retrieving full list of attributes use toJSON()</li>
        <li>Predefined validation method</li>
        <li>Should be extended for your business methods</li>
    </ul>
</div>

<div class="slide model-example">
    <div class="title-inline">
        <h1>Model</h1>
        <h3>methods</h3>
    </div>
    <ul>
        <li>Get(property) - for getting property value</li>
        <li>Set(property,value) - set property value</li>
        <li>Set(attributes) - setting multiple properties</li>
        <li class="server-call">Fetch - loads entity attributes from server</li>
        <li class="server-call">Save([attributes]) - set attributes and save to the server</li>
        <li class="server-call">Destroy - delete entity from the server</li>
    </ul>
</div>

<div class="slide">
    <div class="title-inline">
        <h1>Model</h1>
        <h3>example</h3>
    </div>
    <div>
        <p>Model definition:</p>
        <pre data-code="model.example1"></pre>
    </div>
</div>

<div class="slide slide-compact model-example">
    <div class="title-inline">
        <h1>Model</h1>
        <h3>example</h3>
    </div>
    <div>
        <div class="left-side">
            <p>Example methods:</p>
            <table class="action table">
                <tr><td><a href="#" class="get">project.get('name')</a></td></tr>
                <tr><td><a href="#" class="set1">project.set('name', 'Project A')</a></td></tr>
                <tr><td><a href="#" class="set2">project.set({name: 'Project B'})</a></td></tr>
                <tr><td><a href="#" class="fetch server-call">project.fetch()</a></td></tr>
                <tr><td><a href="#" class="save server-call">project.save()</a></td></tr>
                <tr><td><a href="#" class="destroy server-call">project.destroy()</a></td></tr>
                <tr><td><a href="#" class="output-clear">Clear Output</a></td></tr>
            </table>
        </div>
        <div class="left-side">
            <p>Output:</p>
            <textarea class="target rest-text" rows="8" data-placeholder="examples"></textarea>
            <p>Event Log:</p>
            <textarea class="log rest-text" rows="5" placeholder="Loging window"></textarea>
        </div>
    </div>
</div>

<script type="text/javascript">
    example('.model-example', function($) {
        var $code = $(".target");
        var $log = $(".log");

        function log(text) {
            $log.val($log.val() + text + '\n');
        }

        //--start model.example1
        var Project = Backbone.Model.extend({
            urlRoot: '/projects'
        });

        var project = new Project({id: 1});

        project.on('all', function(event){
            log(event);
        });
        //--end

        $(".fetch").click(function(e){
            e.preventDefault();
            project.fetch().done(function(){
                $code.val(JSON.stringify(project.toJSON()));
            }).fail(function(e){
                $code.val(JSON.stringify(e));
            });
        });
        $(".save").click(function(e){
            e.preventDefault();
            project.set(JSON.parse($code.val()));
            project.save().done(function(){
                $code.val(JSON.stringify(project.toJSON()));
            });
        });
        $(".set1").click(function(e){
            e.preventDefault();
            project.set('name', 'Project A');
            $code.val(JSON.stringify(project.toJSON()));
        });
        $(".set2").click(function(e){
            e.preventDefault();
            project.set({name: 'Project B'});
            $code.val(JSON.stringify(project.toJSON()));
        });
        $(".get").click(function(e){
            e.preventDefault();
            $code.val(project.get('name'));
        });
        $(".destroy").click(function(e){
            e.preventDefault();
            project.destroy();
            $code.val(JSON.stringify(project.toJSON()));
        });
        $(".output-clear").click(function(e){
            e.preventDefault();
            $code.val('');
            $log.val('');
        });
    });
</script>

<div class="slide">
    <h1 class="main center">Collection</h1>
</div>


<div class="slide">
    <h1>Collection</h1>
    <ul>
        <li>Collections of your models</li>
        <li>In most cases this is the root for your resource type.</li>
        <li>Model's events are triggered for their collection as well.</li>
    </ul>
</div>

<div class="slide">
    <div class="title-inline">
        <h1>Collection</h1>
        <h3>methods</h3>
    </div>
    <ul>
        <li>Add - add model to the collection</li>
        <li>Remove - remove model from the collection</li>
        <li class="server-call">Fetch - loads models from server</li>
        <li class="server-call">Create - initialize model, add it to the collection and save it to the server</li>
    </ul>
</div>

<div class="slide">
    <div class="title-inline">
        <h1>Collection</h1>
        <h3>example</h3>
    </div>
    <div>
        <p>Collection definition:</p>
        <pre data-code="collection.example1"></pre>
    </div>
</div>

<div class="slide slide-compact collection-example">
    <div class="title-inline">
        <h1>Collection</h1>
        <h3>example</h3>
    </div>
    <div>
        <div class="left-side">
            <p>Example methods:</p>
            <table class="action table">
                <tr><td><a href="#" class="get-1">collection.get(1)</a></td></tr>
                <tr><td><a href="#" class="fetch  server-call">collection.fetch()</a></td></tr>
                <tr><td><a href="#" class="reset">collection.reset()</a></td></tr>
                <tr><td><a href="#" class="project1-set">project1.set({name: 'New Name'})</a></td></tr>
                <tr><td><a href="#" class="output-clear">Clear Output</a></td></tr>
            </table>
        </div>
        <div class="left-side">
            <p>Output:</p>
            <textarea class="target rest-text" rows="8" data-placeholder="examples"></textarea>
            <p>Event Log:</p>
            <textarea class="log rest-text" rows="6" placeholder="Loging window"></textarea>
        </div>
    </div>
</div>

<script type="text/javascript">
    example('.collection-example', function($) {
        var $code = $(".target");
        var $log = $(".log");

        function log(text) {
            $log.val($log.val() + text + '\n');
        }

        //--start collection.example1
        var Project = Backbone.Model.extend({});

        var ProjectCollection = Backbone.Collection.extend({
            url: '/projects',
            model: Project
        });

        var collection = new ProjectCollection();

        collection.on('all', function(event){
            log(event);
        });
        //--end

        $('.fetch').click(function(e){
            e.preventDefault();
            collection.fetch().done(function(){
                $code.val(JSON.stringify(collection.toJSON()));
            });
        });
        $('.get-1').click(function(e){
            e.preventDefault();
            var project1 = collection.get(1);
            if (project1) {
                $code.val(JSON.stringify(project1.toJSON()));
            } else {
                $code.val("not found");
            }
        });
        $('.project1-set').click(function(e){
            e.preventDefault();
            var project1 = collection.get(1);
            project1.set({name: 'New Name'});
            if (project1) {
                $code.val(JSON.stringify(project1.toJSON()));
            } else {
                $code.val("not found");
            }
        });
        $('.reset').click(function(e){
            e.preventDefault();
            collection.reset();
            $code.val(JSON.stringify(collection.toJSON()));
        });
        $('.output-clear').click(function(e){
            e.preventDefault();
            $code.val('');
            $log.val('');
        });
    });
</script>

<div class="slide">
    <h1 class="main center">View</h1>
</div>

<div class="slide">
    <h1>View</h1>
    <ul>
        <li>Encapsulate part of the page</li>
        <li>Usually connected to collection or model</li>
        <li>Knows its root DOM element</li>
        <li>Supports declarative event binding</li>
        <li>Can render its HTML, hookup to an existing one or combination of both</li>
        <li>Nothing fancy, no data binding, ...</li>
    </ul>
</div>

<div class="slide slide-compact view-example1">
    <div class="title-inline">
        <h1>View</h1>
        <h3>example</h3>
    </div>
    <div>
        <div class="html-map" data-name="view.example1.html">
            <div class="view-frame1 left-side">
                <button disabled class="delete">Delete</button>
                <input type="text" placeholder="Search" class="search"/>
                <button class="find">Find</button>
            </div>
        </div>
        <div class="left-side">
            <pre data-code="view.example1.html"></pre>
            <pre data-code="view.example1"></pre>
        </div>
    </div>
</div>

<script type="text/javascript">
    example(".view-example1", function($){
        //--start view.example1
        var View = Backbone.View.extend({

        });

        //--end
    });
</script>