<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/public/stylesheets/style.css'>
        <link href='http://fonts.googleapis.com/css?family=Armata|Duru+Sans|Spinnaker' rel='stylesheet' type='text/css'>
        <script type='text/javascript' src='/public/javascripts/jquery/jquery-1.9.0.min.js'></script>
        <script type='text/javascript' src='/public/javascripts/underscore-min.js'></script>
        <script type='text/javascript' src='/public/javascripts/backbone.js'></script>
        <script type='text/javascript' src='/public/javascripts/example.js'></script>
    </head>

    <body>
    {{{body}}}
    </body>

</html>